:root{
  --cube-responsive-right: 242px;
  --cube-responsive-left: -242px;
  --hit-with-wall: -350px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.container {
  height: 100vh;
}

.cube {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.stadium {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.image img {
  position: absolute;
  top: 28px;
  left: 35.5%;
  width: 29%;
  height: 85px;
}

@media (max-width: 1399.98px) {
  .image img{
      height: 85px;    
  }

}

@media (max-width: 575.98px) {
  .image img{
      height: 130px;    
  }
}

@media (max-width: 767.98px) {
  .image img{
      height: 130px;    
  }
}

@media (max-width: 991.98px) {
  .image img{
      height: 130px;    
  }
}

@media (max-width: 1199.98px) {
  .image img{
      height: 130px;    
  }
}

.cube2 {
  position: absolute;
  top: 500px;
  left: 45%;
  transition:transform 300ms linear;
}

.cube2 img {
  position: absolute;
  width: 60px;
  cursor: pointer;
}

/* ================ */

@keyframes animate {

    50%{
      bottom: 0;
      transform: translateY(var(--hit-with-wall)) scale(0.5) rotate(360deg);
      
    }

    100%{
      bottom: 0;
      transform: translateY(0px) scale(1);
    }
  }

  /* another animation */

  @keyframes animright {
    50%{
      transform: translateY(var(--hit-with-wall)) scale(.5)  rotate(360deg);
    }

    100%{
      transform: translate(var(--cube-responsive-right), 0px) scale(1);
    }
  }

  
  @keyframes animleft {
    50%{
      transform: translateY(var(--hit-with-wall)) scale(.5)  rotate(360deg);
    }

    100%{
      transform: translate(var(--cube-responsive-left), 0px) scale(1);
    } 
  }

  /* Animate Medias for smaller devices */

  @media (max-width: 991px) {
/* ================ */

@keyframes animate {

  50%{
    bottom: 0;
    transform: translateY(var(--hit-with-wall)) scale(0.5) rotate(360deg);
    
  }

  100%{
    bottom: 0;
    transform: translateY(0px) scale(1);
  }
}


  :root{
    --cube-responsive-right: 100px;
    --cube-responsive-left: -100px;
  }

  } /* end 991 media */

  @media (min-width: 991px) {

    .stadium {
      height: 100vh;
    }

    .cube2 {
      top: 600px;
      left: 47%;
    }

}

@media(max-width: 1440px){
  .cube2 {
      top: 528px;
    }
}





@media(max-width: 990px){
  .cube2 {
      top: 500px;
    }
}

@media(max-width: 1024px){
  .cube2 {
      top: 492px;
    }
}


@media (max-width: 575.98px) {
  .cube2 {
   top: 785px;
 }

  :root{
    --hit-with-wall: -560px;
  }
}

@media (max-width: 767.98px) {
  .cube2 {
    top: 795px;
  }

  :root{
    --hit-with-wall: -580px;
  }
}

@media (max-width: 991.98px) {
  .cube2 {
  top: 790px;
}

:root{
    --hit-with-wall: -580px;
  }
}

@media (max-width: 1199.98px) {
  .cube2 {
  top: 800px;
}

:root{
    --hit-with-wall: -580px;
  }
}


